.nav, .nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav{
    background-color: #0a472e;
    padding: 20px;
    color: #fff;
}

.nav i{
    color:#fff;
}

.nav a{
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
    transition: .4s;
    font-weight: bold;
}

.nav-left i{
    margin-right: 20px;
    transition: .4s;
}

.nav-left{
    margin-right: 50px;
}

.nav-right{
    border-left: 1px solid #e1e1e1;
    padding-left: 50px;
}

.nav-right a:hover{
    color: #bac34e;
}

.nav-right a:hover i{
    color: #bac34e;
}

/*Adaptivnaya verstka*/

@media(max-width:1000px){
    .nav-right{
        display: none;
    }
}

@media(max-width:400px){
    .nav-left p{
        font-size: 15px;
    }
}